[submodule "PCB/Parts/kicad-standard-repo"]
	path = PCB/Parts/kicad-standard-repo
	url = https://github.com/OzelHD/kicad-standard-repo.git

[submodule "PCB/Parts/kicad-extra-repo"]
	path = PCB/Parts/kicad-extra-repo
	url = https://github.com/OzelHD/kicad-extra-repo.git


